body {
  display: flex;
  justify-content: center;
  max-width: 1200px;


    
    @media @desktop {
        
    }
    @media @tablet{
        width: 100%;
        display: inline-flex;
        justify-content: center;


    }
    @media @phone{
        width: 100%;
        display: flex;
        justify-content: center;

        
    }
}
.container-fluid {
  display: flex;
  justify-content: center;
  align-items: ;
  max-width: 1200px;
  width: 100%;
  margin-bottom: 50%;
    
    @media @desktop {
        width: 50%;
        margin-bottom: 50%;
        
    }
    @media @tablet{
        width: 50%;
        display: inline-flex;
        justify-content: center;


    }
    @media @phone{
        width: 100%;
        display: inline-flex;
        justify-content: center;
        
    }
}

.border{
    width: 50%;
    margin-top: 5%;
    border-color: 2px solid black;
    border-radius: 20px;
    border-width: 100%;
    border-bottom: 500px;
    border-style: 10px solid black;

    
     @media @desktop {
        width: 100%;
        border: 100%;

        }
    @media @tablet{
        width: 100%;
        border: 100%;

        }
    @media @phone{
        width: 100%;
        border: 100%;

        }
    
    
}

 .container-fluid .row {   
        @media @desktop {
            width: ;

        }
        @media @tablet{
            width: 100%;
            display: flex;
            justify-content: center;

        }
        @media @phone{
            width: 100%;
            display: flex;
            justify-content: center;

        }
    }
    


.digits {
  display: inline-flex;
justify-content: center;
  width: 100%;
  font-size: 80px;
    
    @media @desktop{
    width: 100%;
        
    }
    @media @tablet{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: space-around;
        align-self: center;

    }
    @media @phone{
        width: 100%;
        display: flex;
        justify-content: center;

        
    }
}

//.digit {
//  display: inline-flex;
//  font-size: 80px;
//}

form{
    width: 100%;
    text-align: center;
    justify-content: center;
    
    @media @desktop {
    width: 100%;
    text-align: center;
    justify-content: center;
        
    }
    @media @tablet{
        width: 100%;
        display: inline-block;
        justify-content: space-around;
        align-items: center;
        align-content: space-around;
        align-self: center;
        

    }
    @media @phone{
        width: 100%;
        display: inline-flex;
        justify-content: center;

    }
    
}


button{
    width: 100%;
    border-width: 1px;
    
   border-radius: 10px;
    &:hover {

    }
    @media @desktop {
        width: 100%;
        
    }
    @media @tablet{
        width: 100%;
        display: inline-flex;
        justify-content: space-around;
        margin-bottom: 1rem;


    }
    @media @phone{
        width: 100%;
        display: inline-flex;
        justify-content: center;
        margin-bottom: 1rem;

    }
}
