* {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 3.6rem;
}
#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#container #split {
  width: 400px;
  height: 200px;
  text-align: center;
}
#container #split ul {
  list-style: none;
  padding: 0;
}
#container #base {
  width: 400px;
  height: 400px;
  border: 20px solid #5b5b5b;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#container #base #center {
  width: 300px;
  height: 300px;
  border: 20px solid #5b5b5b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container #base #center #face {
  width: 180px;
  height: 80px;
  border: 20px solid #5b5b5b;
  background: #52C5CC;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#container #base #center #face #toggleText {
  font-size: 1.6rem;
  justify-self: center;
  align-self: flex-end;
}
#container #base #center #face .digits {
  height: 60px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
#container #base #center #face .digits .seconds {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 45%;
  z-index: 2;
}
#container #base #center #face .digits .digit {
  display: inline;
  max-width: 50%;
}
#container #base #center #face .digits .ms {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
}
#container #base #center #face .digits #colon {
  width: 10%;
  text-align: center;
  z-index: 2;
}
#container #base #center #face #face-shadow {
  background: #98D9ED;
  position: absolute;
  width: 180px;
  height: 80px;
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 100% 130%, 50% 0);
}
#container #right {
  position: absolute;
  top: 0;
  right: 0;
  height: 15px;
  width: 60px;
  border: 20px solid #5b5b5b;
  background: #38878c;
  border-radius: 20px;
  transform: rotate(40deg);
}
#container #middle {
  border-left: 20px solid #5b5b5b;
  border-right: 20px solid #5b5b5b;
  background: #38878c;
  position: absolute;
  top: -50px;
  width: 50px;
  height: 50px;
  z-index: -1;
}
#container #middle-top {
  width: 100px;
  height: 30px;
  border: 20px solid #5b5b5b;
  background: #38878c;
  border-radius: 30px 30px 10px 10px;
  position: absolute;
  top: -100px;
}
#container #left {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 60px;
  background: #38878c;
  border: 20px solid #5b5b5b;
  border-radius: 20px;
  transform: rotate(-40deg);
}
