body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

.button {
  background-color: white;
  color: black;
  margin: 5px 0;
  padding: 5px 0;
  transition-duration: 0.5s;
}

.start {
  border: 2px solid #4CAF50;  
}

.start:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.reset {
  border: 2px solid #555555;  
}

.reset:hover {
  background-color: #555555;
  color: white;
}

.stop {
  border: 2px solid #f44336;
}

.stop:hover {
  background-color: #f44336;
  color: white;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}