body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: gray;
}

.digit {
    display: inline-block;
    font-size: 80px;
}

.redDigit {
    color: red;
}

.buttons,
.digits {
    flex: 100%;
}

.buttons button {
    width: 80px;
    background-color: black;
    border-radius: 4px;
    border: none;
    padding: 5px 0px;
    color: white;
    transition: .3s;
}

.buttons button:focus {
    outline: none;
}

.buttons button:hover {
    background-color: white;
    color: black;
}
