body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

button {
    margin-top: 10px;
    width: 20%;
    padding: 20px;
    background-color: #4d4d64;
    font-size: 60px;
    color: #df7d7d;
    font-family: 'Dancing Script', cursive;
    border-radius: 20px;
}

.running {
    color: green;
}
