body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
  display: inline-block;
  font-size: 80px;
}

.blueDigit {
  color: blue;
  display: inline-block;
  font-size: 80px;
}
.blackDigit {
  color: black;
  display: inline-block;
  font-size: 80px;
}

